

<div class="grid grid-cols-1 xl:grid-cols-2 ">
<div class=" h-full  xl:px-32 px-4 mt-12  ">
    <h2 class="text-center text-5xl leading-relaxed text-gray-800">Join the Clipsink Community</h2>
    <p class="text-md text-center"> Download free photos and videos powered
by a community of photographers. </p>
             <%= render "devise/shared/links" %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'bg-white rounded mb-6'}) do |f| %>



    <%= render "devise/shared/error_messages", resource: resource %>
    <%
      label_classes = "block text-md mb-2 mt-4 #{alert ? "text-red-500" : "text-gray-700"}"
      input_classes = "shadow appearance-none border rounded w-full py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline #{alert ? "border-red-500" : nil}"
    %>
    
    
    <div class="mb-4">
      <%= f.label :name, "Full name", class: label_classes %>
      <%= f.text_field :full_name, autofocus: true, class: input_classes, required: true %>

    </div>
    <div class="mb-4">
      <%= f.label :email, "Email", class: label_classes %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: input_classes, required: true  %>
    </div>
    <div class="mb-4">
      <%= f.label :password, "Password", class: label_classes %>
      <%= f.password_field :password, autocomplete: "new-password", class: input_classes, required: true  %>
    </div>

      <%= f.submit "Create an Account", class: "w-full bg-blue-500 hover:bg-blue-700 text-white py-4 px-4 mr-6 rounded focus:outline-none focus:shadow-outline" %>
     <p class="text-md text-center text-gray-500 ">By joining, you agree to our Terms of Service and Privacy Policy </p>

  <% end %>
</div>

<div class="image-right">

<%= image_tag 'cover.jpg', alt: 'My Image', class: 'img-thumbnail' %>

<style>
.img-thumbnail
{
  position: absolute;

  width: 50%;
    object-fit: contain;

  right: 0;
}

@media (max-width: 1250px) {
  .img-thumbnail
  {
    display: none;
  }
}


</style>


</div>