<%- if controller_name != 'sessions' %>
  <%#= link_to "Log in", new_session_path(resource_name) %><br />
<% end %>

<!--<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end %>--->

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>



  <%- resource_class.omniauth_providers.each do |provider| %>
  
    <%= form_for "Login",
      url: omniauth_authorize_path(resource_name, provider), 
      method: :post,
      data: {turbo: "false"} do |f| %>
          <div class="google-sign-in mt-4">
    <%= f.submit class:"submit" %>
    <p>
    <%= image_tag("google_icon.svg")%>
<%- if controller_name == 'sessions' %>
    Login with Google
    <% else %>
    Join with Google
    <% end %>
    </p>
      </div>
<% end %>
<% end %>



<style>
/* app/assets/stylesheets/application.css */

.submit
{
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.google-sign-in {
  display: inline-block;
  position: relative;
  width: 100%;
  text-decoration: none;
  background-color: #fff; /* Customize the background color as needed */
  border: 2px solid rgba(0,0,0,0.2); /* Customize the border as needed */
  padding: 10px;
  border-radius: 5px;
  text-align: center;
 /* Customize the text color as needed */
  font-size: 18px;
  opacity: 0.9;
  font-weight: 300;

  

  transition: background-color 0.3s;
}

.google-sign-in:hover {
  box-shadow:  0 0 10px rgba(0,0,0,0.2);
  
}

.google-sign-in img {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  margin-right: 10px; /* Adjust the spacing between the icon and the text as needed */
}
</style>