<div id="<%= dom_id(post) %>" class="youtube-layout relative">

  <% if post.image.attached? %>
<%= image_tag(post.image, quality: 10)%>
  <% end %>

  <% if action_name != "show" %>
    <%= link_to post, class: "overlay flex items-center justify-center opacity-0 transition-opacity duration-300" do %>
      <div class="overlay-content text-center">
        <h2 class="post-title text-2xl text-white leading-tight mb-2"><%= post.title %></h2>
        <p class="text-white post-details text-sm">
          <%#= post.user.email %>
          <br>
          <%= time_ago_in_words(post.created_at) %> ago
        </p>
      </div>
    <% end %>
  <% end %>
</div>

<style>
.youtube-layout {
  position: relative;
  width: 100%;
  height: 200px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: inline-block;
  overflow: hidden;
}

.thumbnail {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

.youtube-layout:hover .overlay {
  opacity: 1;
}

.overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .35) 20%);
  pointer-events: none;
}

.post-title {

  color: white;
  position: absolute;
  z-index: 300;
  top: 16px;
  left: 16px;
}

.post-details {
  color: white;
    z-index: 300;
  position: absolute;
  bottom: 16px;
  left: 16px;
}

/* Responsive changes */
@media screen and (max-width: 768px) {
  .youtube-layout {
    width: 100%;
  }
}


</style>
