<div id="<%= dom_id post %>" class="youtube-layout">
  <% post.video.blob.metadata.fetch(:duration, nil) %>
  <% if post.image.attached? %>
    <%= image_tag(post.image, class: "thumbnail") %>
  <% end %>
  <% if action_name != "show" %>
    <%= link_to post, class: "overlay" do %>
      <div class="overlay-content">
        <h2 class="post-title"><%= post.title %></h2>
        <p class="text-white post-details">
          <%#= post.user.email %>
          <br>
          Posted <%= time_ago_in_words(post.created_at) %> ago
        </p>
      </div>
    <% end %>
  <% end %>
</div>
<style>
  .youtube-layout {
    position: relative;

    width: 24%;
    height: 200px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: inline-block;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }

  .thumbnail {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%; /* Fill the container width */
    height: 100%; /* Fill the container height */
    object-fit: cover; /* Maintain aspect ratio and fill the container */
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .overlay-content {
    text-align: center;
  }

  .overlay:hover {
    opacity: 1;
  }

  .overlay:hover .thumbnail {
    filter: brightness(70%);
  }

  .post-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .post-details {
    font-size: 14px;
  }

  /* Responsive changes */
  @media screen and (max-width: 768px) {
    .youtube-layout {
      width: 100%;
    }
  }
</style>
