<!DOCTYPE html>
<html>
  <head>
    <title>Something</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    
    <% if alert.present? && !notice.present? %>
<div role="alert">
  <div class="bg-red-500 text-white font-bold  px-4 py-2">
    Error
  </div>
  <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
    <p><%= alert %> </p>
  </div>
</div>
<% end %>

<% if notice.present? && !alert.present? %>

<div role="notice">
  <div class="bg-green-500 text-white font-bold  px-4 py-2">
    Success
  </div>
  <div class="border border-t-0 border-green-400 rounded-b bg-green-100 px-4 py-3 text-white-700">
    <p><%= alert %> </p>
  </div>
</div>
<% end %>

    <div class="content ">
      <%= yield %>
    </div>
  </body>
</html>
<style>
  html,body {
    height: 100%;

  }

  .content {
    min-height: calc(100% - 300px); /* set the height of your footer here */
    box-sizing: border-box;

  }
</style>
