<!DOCTYPE html>
<html>
  <head>
    <title>Youtube</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container px-5 mx-auto content mt-28 ">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
<style>
  html,body {
    height: 100%;

  }

  .content {
    min-height: calc(100% - 300px); /* set the height of your footer here */
    box-sizing: border-box;

  }
</style>
